
.contacto_cont{
    opacity: 1;

    .text_Contacto{
        font-family: "Carattere", cursive;
    font-family: "Gideon Roman", cursive;

    }
}
.formu{
    font-family: "Carattere", cursive;
    font-family: "Gideon Roman", cursive;
    font-size: 0.8rem;
    .form-label{
        margin-right: 1rem;
    }
    .form-select{
        font-family: "Carattere", cursive;
    font-family: "Gideon Roman", cursive;
    font-size: 0.8rem;
    }
}