 /*footer*/
 .h3-foot{
    font-size: 2rem;
font-family: 'Red Hat Display', sans-serif;
box-shadow: 0 0 2rem;
opacity: 0.8;
padding-top: 3rem;
padding: 0.5rem 1rem;
}
.col{
    font-size: 2rem;
    justify-content: space-around;
    display: flex;
}
